.body {
    background-image: url("../../assets/Background.jpg");
    z-index: -1;
}
.loginBtn {
    color: black !important;
    position: relative;
    left: 78vw;
    margin: 10px;
    top: 1vh;
}
.contactUsBtn {
    color: black !important;
    position: relative;
    left: 88vw;
    margin: 10px;
    top: 1vh;
}
